# Default values for curator.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

name: curator
image: quay.io/samsung_cnct/curator-container:0.1.0
schedule: "30 3 * * *"

action: delete_indices

logstashDescription: Delete indices older than 14 (default) days and prefixed with
   logstash-. Ignore the error if the filter does not result in an actionable list
   of indices (ignore_empty_list) and exit cleanly.

logsystemdDescription: Delete indices older than 14 (default) days and prefixed with
   logsystemd-. Ignore the error if the filter does not result in an actionable list
   of indices (ignore_empty_list) and exit cleanly.

options:
   timeout_override:
   disable_action: false
   ignore_empty_list: true
   continue_if_exception:

logstashFilters:
- filtertype: pattern
  kind: prefix
  value: "logstash-"
  exclude: false
- filtertype: age
  source: name
  timestring: '%Y.%m.%d'
  direction: older
  unit: days
  unit_count: 14
  field:
  stats_result:
  epoch:
  exclude: false

logsystemdFilters:
- filtertype: pattern
  kind: prefix
  value: "logsystemd-"
  exclude: false
- filtertype: age
  source: name
  timestring: '%Y.%m.%d'
  direction: older
  unit: days
  unit_count: 14
  field:
  stats_result:
  epoch:
  exclude: false

# NOTE: the password should be passed in on the command line
security:
   username: elastic
   password: changeme

client:
   hosts:
   - elasticsearch
   port: 9200
   url_prefix:
   use_ssl: false
   certificate:
   client_cert:
   client_key:
   ssl_no_validate: false
   http_auth: ${ES_USERPASS} # "elastic:changeme" #elasticsearch x-pack: "username:password"
   timeout: 30
   master_only: false

logging:
   loglevel: INFO
   logfile:
   logformat: default
   blacklist:
   - 'elasticsearch'
   - 'urllib3'
